deleted_stuff.py
iteration.py
putting_ai_model.py
refactored_yield_curve.py
yieldcurve.py
yield_curve_rates 
unemployment_data 
sec-edgar-filings 
Options_Strategy 
behavioral_finance_ideas 
atrioc_backtester